html 
  scroll-behavior: initial

html, body 
  position relative
  width: 100%
  min-height: 100%

#wImg
  // border solid 1px black
  overflow hidden

.ww_img_svg
  width 100%
.svg_fg
  // transform-box: fill-box !important
  // transform-origin: 30% -30% !important

#wwImgCan
  position absolute
  transform: translate(-50%, -50%)
  top 50%
  left 50%
  z-index 3
  overflow visible
  // width 200vw !important
  // height 200vh !important
  // width 100%

  // -webkit-mask: url(#svgMsk);
  // mask: url(#svgMsk);
  // clip-path: circle(30%)
  // clip-path: url(#svgMsk)